@media(max-width:900px){

    .navbar{
      justify-content:center;
    }
    
    .logo{
      position:absolute;
    
      left:50%;
    
      transform:translateX(-50%);
    }
    
    .nav-links{
      display:none;
    }
    
    
    /* =========================
       MOBILE NAV
    ========================= */
    
    .mobile-nav{
      position:fixed;
    
      bottom:20px;
      left:50%;
    
      transform:translateX(-50%);
    
      width:90%;
      max-width:420px;
    
      display:flex;
      justify-content:space-around;
      align-items:center;
    
      padding:14px 10px;
    
      background:#fffd91c9;
    
      backdrop-filter:blur(20px);
    
      border-radius:25px;
    
      z-index:2000;
    }
    
    .mobile-nav a{
      text-decoration:none;
      color:black;
    
      display:flex;
      flex-direction:column;
      align-items:center;
    
      gap:5px;
    
      font-size:11px;
    }
    
    .mobile-nav img{
      width:22px;
      height:22px;
    }
    
    
    /* =========================
       HERO
    ========================= */
    
    .contact-hero-content h1{
      font-size:50px;
      line-height:1;
    }
    
    .contact-hero-content p{
      font-size:12px;
    }
    
    
    /* =========================
       GLOBAL SECTION
    ========================= */
    
    .section{
      padding:60px 7%;
    }
    
    
    /* =========================
       CONTACT SECTION
    ========================= */
    
    .contact-section{
      grid-template-columns:1fr;
    
      gap:50px;
    }
    
    .contact-left h2{
      font-size:45px;
    }
    
    .contact-form-wrapper{
      padding:30px;
    }
    
    .whatsapp-btn{
      width:100%;
    }
    
    
    /* =========================
       MAP
    ========================= */
    
    .map-top h2{
      font-size:42px;
    }
    
    .map-wrapper{
      height:350px;
    }
    
    
    /* =========================
       FOOTER
    ========================= */
    
  .footer{
    display:none;
  }

}
